Footer {
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	position: fixed;
	bottom: 0;
}
footer p {
	position: fixed;
	text-align: center;
	top: 10%;
	bottom: 0;
	right: 0;
	left: 0;
}
